.container {
  padding: 80px;
  background: #f7f4f4;
}

.banner {
  border-radius: 10px;
  text-align: center;
  background-color: #161818;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  
}

.banner-links {
  margin-top: 10px;
}

.banner-links a {
  color: white;
  font-weight: bold;
  margin: 15px;
  padding: 5px;
}

.add-city-form {
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  background: #ffffff; 
  border-radius: 30px;
}

.input-country label {
  margin-right: 16px;
}

.city-list-form {
  padding: 100px;
  background: #ffffff; 
  border-radius: 30px;
}

.city-detail-form {
  padding: 100px;
  background: #ffffff;  
  border-radius: 30px;
}